/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 4px 8px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-right: 4px;
    margin-top: 2px;
    float: right;
}

/* Darker background on mouse-over */
.container .row_td .btn:hover, .btn:hover {
    background-color: RoyalBlue;
}
